<nav class="ui stackable menu">
  
  <header class="ui header item"> <a href="/CollectionDetails"> Collection Details </a> 
    </header>
    <!--     Change the link below to suit your app -->
    
    <div class="right menu">
    <a id="dashboard" class="item" href="/Dashboard"> Dashboard</a>
</div>
    <div class="center menu">
      <a id="About me" class="item" href="/about"> About me!</a></div>
  

  <div class="right menu">
    <!--     Add links to your pages here -->
    
  </div>
  
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
