<div class="ui centered card">
  <div class="image">
    <img src=" ">
  </div>
  <div class="content">
    <a class="header"> </a>
    <div class="meta">
      <span class="date">Joined in 2026! </span>
    </div>
    <div class="description">
        is living in Ferrybank, Waterford ,Ireland
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
        contact me @ 082 7426272
        Email: 20116243@setu.ie
    </a>
  </div>
  <img src = "/googlepic.png" class = "ui centered image">
</div>
